.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-detail-name{
    font-size: xx-large;
    color: black;
    margin-top: 1rem;
}
.pokemon-detail-name >span {
    letter-spacing:1rem;
}
.pokemon-details-types{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    font-size: larger;
}

.pokemon-details-types div {
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 1rem;
    background-color: gainsboro;
}