.pokemon-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content:center;  
    align-items: center;
}

.pokemon-wrapper {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.controls button {
    padding: 10px 2rem;
    margin-left: 1rem;
    margin-top: 1rem;   /* Some space from Top  */
    font-weight: bolder;
    border: none;
    background-color: salmon;
    border-radius: 10px;
}

.controls button:hover {
    background-color:tomato;
}
 
/* Media query for tablets and mobile devices */
@media only screen and  (max-width: 768px) {
    .pokemon-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
    }
} 